<div class="wrapper" (click)="closePopup()"></div>
<div class="container mat-elevation-z8">
  <div class="heading-row">
    <h2 class="text-center">Add User</h2>
    <mat-divider></mat-divider>
  </div>
  <div class="form-wrapper">
    <form [formGroup]="form" #addUserForm (ngSubmit)="saveDetails(form)" class="d-flex flex-column">
      <!-- name field -->
      <mat-form-field appearance="standard">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Enter Name" formControlName="name" #nameInput>
          <mat-hint>Enter User Name</mat-hint>
          <mat-error>Name is required</mat-error>
      </mat-form-field>

      <!-- email field -->
      <mat-form-field appearance="standard">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter Name" formControlName="email" #emailInput>
        <mat-hint>Enter Email Address</mat-hint>
        <mat-error>Enter valid email</mat-error>
      </mat-form-field>

      <!-- password field -->
      <mat-form-field appearance="standard">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" #pswdInput autocomplete="on">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint>Password between 8 to 16 characters with 1 number and 1 special character</mat-hint>
        <mat-error>Enter valid password</mat-error>
      </mat-form-field>

      <!-- department field -->
      <mat-form-field appearance="standard">
        <mat-label>Department</mat-label>
        <input matInput placeholder="Enter Department" formControlName="dept" #deptInput>
        <mat-hint>Enter Department Name</mat-hint>
        <mat-error>Department name is required</mat-error>
      </mat-form-field>

      <!-- designation field -->
      <mat-form-field appearance="standard">
        <mat-label>Designation</mat-label>
        <input matInput placeholder="Enter Name" formControlName="designation" #desgInput>
        <mat-hint>Enter Designation</mat-hint>
        <mat-error>Designation is required</mat-error>
      </mat-form-field>

        <!-- salary field -->
        <mat-form-field appearance="standard">
        <mat-label>Salary</mat-label>
        <input matInput type="number" formControlName="salary" min="0" placeholder="0">
        <span span matPrefix>₹&nbsp;</span>
        <mat-hint>Enter Salary</mat-hint>
        <mat-error>Salary is required</mat-error>
      </mat-form-field>
      
      <span class="d-flex justify-content-end">
        <button mat-raised-button color="primary" type="submit" class="mt-3">Submit</button>
        <button mat-raised-button type="button" class="mt-3" (click)="closePopup()">Cancel</button>
      </span>
    </form>
  </div>
</div>
