.wrapper{
  z-index: 50;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0px;
  left: 0px;
  background-color: rgba($color: #000000, $alpha: 0.35);
}

.container{
  z-index: 100;
  overflow:auto;
  background-color: white;
  position: fixed;
  top:10vh;
  left: 25vw;
  width: 50vw;
  height: 66vh;

  .heading-row{
    background-color: white;
    position:sticky;
    z-index: 101;
    padding-top: 15px;
    padding-bottom: 15px;
    top: 0px;
  }

  .form-wrapper{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;

    mat-form-field{
      margin-bottom: 10px;
    }
  }
}


::-webkit-inner-spin-button {
  display: none;
}