<div class="container p-4">
  <div class="d-flex justify-content-between">
    <h1>All Users</h1>
    <span>
      <button mat-raised-button color="primary" (click)="openAddUserForm()">Add User</button>
    </span>
  </div>
  <mat-divider></mat-divider>

  <ng-template appDynamicHook></ng-template>

  <div class="my-3">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z8">

    <!-- no Column -->
    <!-- <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by no">
        No
      </th>
      <td mat-cell *matCellDef="let element;let i = index"> {{ i+1 }} </td>
    </ng-container> -->

    <!-- Name Column -->
    <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
      Name
    </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email">
      Email
    </th>
    <td mat-cell *matCellDef="let element"> {{element.email | lowercase}} </td>
    </ng-container>

    <!-- department Column -->
    <ng-container matColumnDef="department">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by department">
      Department
    </th>
    <td mat-cell *matCellDef="let element"> {{ element.department }} </td>
    </ng-container>

    <!-- salary Column -->
    <ng-container matColumnDef="salary">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by salary">
        Salary
      </th>
      <td mat-cell *matCellDef="let element"> {{ element.salary | currency : 'INR' : 'symbol' : '1.0-0'}} </td>
    </ng-container>

    <!-- date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date">
        Date
      </th>
      <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-divider></mat-divider>
</div>